.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
}



#cont-list{
  margin:30px;
  padding: 20px;
}

.card{
  margin: 20px;
  flex: 1;
  height:auto;

}
.card-img-top-a{
  width: 100%;
  height: auto;
}


img{
  height: auto;
}

#prof-pic-lg{
  width:40%;
  padding: 15px;
}

p{
  font-family: "Tenor Sans";
}

.title{
  font-family: "playfair display";
}

.jumbotron-title{
  margin: 50px;
  font-family: "Tenor Sans";
  font-stretch: wider;
}

.card-title{
  font-size: 2rem;
}

.email-phone-section{
  height: 500px;
  background-color: white  ;
}

.sub-project{
  margin-top: 20px;
  margin-bottom: 40px;
}

.side-title:hover{
  background-color: navajowhite;
  align-content: center;
  justify-content: center;
}



.side-card-l1{
  background-color: rgb(188, 20, 45);
  color: white;
  font-family: "Tenor Sans";
}

.btn{
  background-color: rgb(188, 20, 45);
  font-family: "Tenor Sans";

}

.side-card-l1:hover{
  box-shadow:2px 2px 40px rgba(0, 0, 0, 0.167);
}

.r-ul{
  text-decoration: underline;
  text-decoration-color: rgb(188, 20, 45) ;

}

.l-border{
  border-right: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(188, 20, 45);
}

.rtrn:hover {
 background-color:rgb(188, 20, 45);
 color: white;
}