* {
    box-sizing: border-box;
  }
  
  
  
  body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  



  @media screen and (max-width: 300px) and (min-width:899) {

    .flex-nav {
      display: flex;
      text-align: center;
      align-items: center;
      width:auto;
    }

    .flex-nav-item {
      text-align: center;
      margin: 20px;
      height: 49px;
      flex: 1;
      background-color: navy;
      color: coral;
      font-size: 1rem;
    }


    .grid-parent {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(5, 40em);
      grid-template-areas:
        "head"
        "intro-title"
        "int"
        "proj-title"
        "proj-2"
        "proj-2"
        "proj-3"
        "cont";
    }

    .grid-head {
      padding-top: 20px;
      grid-area: head;
      display: flex;
      justify-content: start;
      align-items: center;
      color: rgb(226, 176, 26);
      background-image: url("../images/profile-pic.jpeg");
      background-repeat: no-repeat;

    }

    .head-text {
      display: flex;
      margin-top: 20px;
      margin-bottom: 90px;
      padding: 23px;
      font-size: 4em;
      background-color: red;
      border-radius: 0px 35px 35px 0px;

    }

    .grid-intro {
      grid-area: int;
    }

    .grid-projects {
      grid-area: proj-1;
      padding-left: 40px;
      padding-right: 20px;
      margin: 40px;
    }

    .grid-contact {
      grid-area: cont;
      padding-left: 40px;
     
    }



  }
