#cont-list{
  margin:30px;
  padding: 20px;
}

.card{
  margin: 20px;
}

img{
  height: auto;
}

#prof-pic{
 width: 40%;
 padding-right: 30px;
 padding-left: 30px;
 padding-top: 25px;
 border: 15px;
}